.mainSwiper {
  width: 100%;
  height: 420px;
  display: none;
  @media (max-width: 630px) {
    display: block;
  }

  .mainSwiper-slide {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

    .profile-card {
      width: 80%;
      cursor: pointer;
      height: 100%;

      @media (max-width: 450px) {
        width: 95%;
      }
      .innerSwiper {
        width: 100%;
        height: 60%;
      }

      .innerSwiper-slide {
        height: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;

        span {
          position: absolute;
          top: 5%;
          right: 5%;
          font-size: 1.2rem;
          cursor: pointer;
          // color: red;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      .innerSwiper-slide img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        cursor: pointer;
        transition: 0.3s;
        object-fit: cover;

        &:hover {
          transform: scale(1.2);
        }
      }

      .inner-info {
        height: 60%;
        background: #ebebeb;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
        padding: 10px;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 24px;
        }

        .underground {
          font-size: 0.8rem;
          padding: 0 30px;
        }
        .price {
          font-weight: 600;
          font-size: 1rem;
          line-height: 24px;
        }
      }

      .info-top {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
      }

      .location {
        display: flex;
        justify-content: center;
        gap: 10px;
      }

      .about,
      .enroll {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        text-align: center;

        button,
        a {
          width: 6rem;
          height: 100%;
          background: #d9d9d9;
          border-radius: 23.5px;
        }
      }

      .enroll {
        height: 48px;

        align-items: center;
        button {
          width: 9rem;
          height: 100%;

          &:hover {
            background: #c0bebe;
          }

          &:active {
            background: #d9d9d9;
          }
        }
      }
    }
  }
}
