.img-and-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .left-carousel {
    width: 785px;
    height: 485px;
    border-radius: 4px;
    img {
      border-radius: 4px;
    }

    .bottom-images {
      display: none;
    }
  }
  .right-info {
    width: 441px;
    height: 465px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top,
    .center,
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      width: 85%;
    }

    .top {
      height: 110px;
      .price-text {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
      }
    }
    .line {
      width: 100%;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      .apartment-size-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      .floor-text,
      .location-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .bottom {
      height: 205px;
      div {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      .circle {
        width: 65px;
        height: 65px;
        background: #d9d9d9;
        border-radius: 50%;
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }

      .show-btn {
        width: 206px;
        height: 50px;
        font-weight: 600;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
      }
      .sendIcon,
      .likeIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        border: 1px solid rgba(0, 0, 0, 0.3);
        img {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

/*-----------------------------------------------Media Qaries---------------------------------------*/

@media (max-width: 1290px) {
  .img-and-info {
    width: 100%;
    justify-content: space-around;
    .left-carousel {
      width: 685px;
      height: 385px;
      border-radius: 4px;
      img {
        border-radius: 4px;
      }
    }
    .right-info {
      width: 341px;
      height: 365px;
      .top {
        .price-text {
          font-weight: 600;
          font-size: 22px;
          line-height: 22px;
        }
      }
      .center {
        .apartment-size-text {
          font-weight: 500;
          font-size: 18px;
          line-height: 16px;
        }
        .location-text {
          font-weight: 400;
          font-size: 15px;
          line-height: 17px;
        }
      }
      .bottom {
        .circle {
          width: 55px;
          height: 55px;
        }
        p {
          font-size: 20px;
          line-height: 20px;
        }
        .show-btn {
          width: 165px;
          height: 40px;
          font-weight: 600;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 30px;
        }
        .likeIcon,
        .sendIcon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .img-and-info {
    justify-content: space-between;
    .left-carousel {
      width: 625px;
      height: 325px;
      border-radius: 4px;
      img {
        border-radius: 4px;
      }
    }
    .right-info {
      width: 341px;
      height: 320px;
      .top {
        height: 95px;
        .price-text {
          font-size: 18px;
          line-height: 14px;
        }
      }
      .center {
        height: 125px;
        .apartment-size-text {
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
        }
        .location-text {
          font-weight: 400;
          font-size: 15px;
          line-height: 17px;
        }
      }
      .bottom {
        height: 150px;
        .circle {
          width: 45px;
          height: 45px;
        }
        p {
          font-size: 18px;
          line-height: 18px;
        }
        .show-btn {
          width: 165px;
          height: 40px;
          font-weight: 600;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 30px;
        }
        .likeIcon,
        .sendIcon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  .img-and-info {
    flex-direction: column;
    .left-carousel {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      .bottom-images {
        display: flex;
        width: 100%;
        gap: 10px;
        .src-images {
          width: 33.3%;
          height: 100px;
          background-position: center center;
          background-size: cover;
        }
      }
    }
    .right-info {
      margin-top: 5%;
      width: 100%;
      height: 210px;

      border: none;
      box-shadow: none;
      align-items: flex-start;
      border-radius: 0;
      .line {
        border: 1px solid rgba(108, 108, 108, 0.3);
      }
      .top {
        width: 95%;
        height: 60px;
        margin-left: 10px;
        .price-text {
          color: rgba(0, 0, 0, 0.8);
        }
      }
      .center {
        width: 95%;
        height: 95px;
        margin-left: 10px;
        .apartment-size-text {
          line-height: 19px;
        }
        .floor-text,
        .location-text {
          font-size: 14px;
          line-height: 17px;
        }
      }
      .bottom {
        width: 95%;
        margin-left: 10px;
        height: 63px;
        flex-direction: row;
        justify-content: space-between;
        .show-btn {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .img-and-info {
    .left-carousel {
      .ImgSwiper {
        width: 100%;
      }
      .bottom-images {
        width: 100%;
        .src-images {
          height: 80px;
        }
      }
    }
  }
}
@media (max-width: 502px) {
  .left-carousel {
    .ImgSwiper {
      height: 216px;
      width: 100%;
    }
    .bottom-images {
      .src-images {
        height: 65px !important;
      }
    }
  }
  .right-info {
    width: 100%;
    margin-top: 30px;
    .bottom {
      gap: 0px;
      .okIcon {
        width: 20px;
        height: 20px;
      }
      .sendIcon,
      .likeIcon {
        width: 30px !important;
        height: 30px !important;
        img {
          width: 14px !important;
          height: 14px !important;
        }
      }
      p {
        font-size: 16px;
      }
    }
    .apartment-size-text {
      font-size: 15px;
      line-height: 10px;
    }
    .location-text {
      line-height: 7px;
    }
    .top,
    .center,
    .bottom {
      margin-left: 0px;
    }
  }
}
