.ads {
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    //media started
    @media (max-width: 600px) {
      .left {
        .count {
          font-size: 16px !important;
          margin-bottom: 20px !important;
        }
        .sort {
          font-size: 14px;
        }
        .ant-select-selector {
          border-radius: 21px !important;
          font-size: 11px !important;
          height: 42px !important;
        }
      }
      .right {
        max-width: 126px;
        width: 100%;
        height: 40px !important;
        padding: 15px;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
        img {
          width: 15px;
          height: 14px;
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    //media ended

    .left {
      .ant-select-selector {
        border: 1px solid rgba(0, 0, 0, 0.5) !important;
        border-radius: 8px !important;
        height: 50px !important;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: black;
        display: flex;
        align-items: center;
      }
      .ant-select-single .ant-select-selector .ant-select-selection-search {
        border-radius: 8px;
        width: 100%;
        max-width: 330px;
        position: absolute;
        left: 0;
      }
      .count {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
      }
      .sort {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
      }
      .select {
        margin-bottom: 40px;
      }
      .ant-select-selector {
        width: 100% !important;
        max-width: 285px !important;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        display: flex;
        align-items: center;
        border-radius: 19px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        height: 50px;
      }
    }
    .right {
      display: flex;
      max-width: 148px;
      width: 100%;
      justify-content: center;
      height: 68px;
      align-items: center;
      border-radius: 34px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      gap: 6px;
      cursor: pointer;
      img {
        width: 17px;
        height: 16px;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
