.ads {
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .left {
      .count {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
      }
      .sort {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
      }
      .select {
        margin-bottom: 40px;
      }
      .ant-select-selector {
        width: 100% !important;
        max-width: 285px !important;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        display: flex;
        align-items: center;
        border-radius: 19px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        height: 50px;
      }
    }
    .right {
      display: flex;
      max-width: 148px;
      width: 100%;
      justify-content: center;
      height: 68px;
      align-items: center;
      border-radius: 34px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      gap: 6px;
      cursor: pointer;
      img {
        width: 17px;
        height: 16px;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
