.ImgSwiper {

    width: 100%;
    height: 100%;

    border-radius: 4px;
    @media (max-width: 1000px) {
    }
    @media (max-width: 500px) {
      max-width: 313px;
      height: 166px;
    }
    .slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
    }
  
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 20px;
    }
  
  }
  