.info-page {
  display: flex;
  flex-direction: column;
}

.info-text {
  width: 100%;
  margin-top: 45px;
  height: 300px;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 172.9%;
  }
}

.charasteristics {
  width: 100%;
  margin-top: 45px;
  .table-box {
    width: 100%;
    height: 549px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .line {
      position: relative;
      left: 35px;
      width: 90%;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        width: 49%;

        p {
          color: rgba(0, 0, 0, 0.7);
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
        }
      }
      .info {
        width: 49%;

        span {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .bottomline {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.apartment-location {
  width: 100%;
  margin-top: 50px;

  .map {
    width: 100%;
    height: 507px;
    background: #d9d9d9;

    .mapouter {
      position: relative;
      text-align: right;
      width: 100%;
      height: 100%;
    }
    .gm-control-active {
      background-color: red;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 100%;
    }
    .gmap_iframe {
      height: 100% !important;
    }
  }
}
