footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background: #d9d9d999;
  margin-top: 90px;
  padding-bottom: 60px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;

  .top {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }

  li {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    @media (max-width: 450px) {
      font-size: 0.9rem;
      line-height: 20px;
    }
  }
}

.lists,
.first-body {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 630px) {
    display: none;
  }

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.lists {
  width: 90%;
}

.stores {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .store {
    width: 7rem;
    display: flex;
    gap: 5px;
    justify-content: center;
    height: 59px;
    align-items: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;

    @media (max-width: 550px) {
      width: 12rem;
    }

    @media (max-width: 330px) {
      width: 10rem;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 17px;
    }
  }
}

.second-body {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 630px) {
    display: flex;
  }

  .logo {
    text-align: center;
  }

  
}

.list-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.second-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
