.houseCard {
  .wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
    margin-bottom: 30px;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .images {
        margin-bottom: 20px;
      }
      .content {
        .title {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 5px;
        }
        .description {
          margin-bottom: 7px;
        }
        .description p {
          font-size: 14px;
          line-height: 17px;
          width: 100%;
        }
        .text {
          font-weight: 400;
          font-size: 12px;
          line-height: 150.9%;
          margin-bottom: 60px;
          max-width: 457px;
        }
        .icons {
          margin-left: 10px;
          .icon {
            background: #d9d9d9;
          }
          .phone {
            border-radius: 23.5px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
          }
          .telegram,
          .like {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .price {
        width: 100%;
        max-width: 457px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 440px;
        padding: 0 5px;
        .title {
          font-size: 16px;
          line-height: 20px;
          display: flex;
          justify-content: flex-start;
          margin-bottom: 0px;
        }
        .square {
          font-size: 12px;
          line-height: 15px;
        }
        .bottom {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    @media (max-width: 610px) {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      .images {
        width: 100%;
      }
      .icons {
        margin-left: 10px;
      }
      .content {
        .text {
          font-weight: 400;
          font-size: 12px;
          line-height: 150.9%;
          margin-bottom: 70px;
          max-width: 557px;
        }
      }
      .images {
        .small-images {
          display: none;
        }
      }
      .price {
        width: 100%;
        max-width: 557px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 420px;
        padding: 0 10px;
      }
    }
    @media (max-width: 500px) {
      .content {
        .text {
          font-weight: 400;
          font-size: 12px;
          line-height: 150.9%;
          margin-bottom: 70px;
        }
      }
      .icons {
        margin-left: 10px;
      }
      .images {
        .small-images {
          display: none;
        }
      }
      .price {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 73%;
        padding: 0 10px;
      }
    }
    @media (max-width: 450px) {
      .content {
        .icons {
          gap: 5px;
          margin-right: 10px;
          .icon {
            width: 35px;
            height: 35px;
          }
          .phone {
            max-width: 170px;
            width: 100%;
          }
        }
        .text {
          font-weight: 400;
          font-size: 12px;
          line-height: 150.9%;
          margin-bottom: 70px;
          max-width: 457px;
        }
      }
      .images {
        .small-images {
          display: none;
        }
      }
      .price {
        width: 100%;
        max-width: 457px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 75%;
        padding: 0 10px;
      }
    }
    //media ended

    .images {
      display: flex;
    }
    .big-image {
      width: 100%;
      width: 321px;
      @media (max-width: 610px) {
        width: 100%;
        max-width: 1000px;
        height: 256px;
        padding: 10px 10px 0 10px;
      }
      @media (max-width: 410px) {
        height: 216px;
        padding: 10px 10px 0 10px;
      }
      @media (max-width: 376px) {
        padding: 10px 10px 0 10px;
        height: 176px;
      }
    }
    .small-images {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      gap: 12px;
      .img {
        width: 100%;
        max-width: 139px;
        min-width: 119px;
        height: 90px;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .content {
    display: block;
    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 22px;
      margin-left: 10px;
    }
    .description {
      margin-bottom: 21px;
    }
    .description p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-left: 10px;
    }
    .text {
      max-width: 600px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150.9%;
      margin-bottom: 21px;
      margin-left: 10px;
    }
    .divider {
      height: 1px;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      display: none;
      position: absolute;
      @media (max-width: 610px) {
        display: block;
        position: absolute;
        top: 410px;
      }
      @media (max-width: 410px) {
        display: block;
        position: absolute;
        top: 370px;
      }
      @media (max-width: 410px) {
        display: block;
        position: absolute;
        top: 385px;
      }
      @media (max-width: 378px) {
        display: block;
        position: absolute;
        top: 345px;
      }
      @media (max-width: 375px) {
        display: block;
        position: absolute;
        top: 355px;
      }
    }
    .icons {
      display: flex;
      gap: 15px;
      .icon {
        width: 100%;
        max-width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
      }
      .phone {
        border-radius: 30px;
        max-width: 205px;
      }
      .telegram,
      .like {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
    }
    .square {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
    .bottom {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
